.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.loadButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
}

.controlPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed; /* Fix the position relative to the viewport */
  bottom: 0; /* Anchor it to the bottom */
  left: 0; /* Stretch it across from the left */
  right: 0; /* to the right, making it full width */
  background-color: #fff; /* Optional: Background color for visibility */
  padding: 10px 0; /* Optional: Add some padding */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Optional: Add a subtle shadow for depth */
}

/*
.controlPanel {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
position: fixed;
bottom: 10px;
display: flex;

}
 */

.top {
  display: flex;
}

.bottom {
  display: flex;
}

.memoryMap {

}


.legend-item {
  display: inline-block; /* Change this to display the items inline */
  margin-right: 15px; /* Add some spacing to the right of each item */
}

.legend-square {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #000; /* Optional: adds a border around the square */
}

.legend-text {
  display: inline-block;
  vertical-align: middle;
}
