.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.loadButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
}

.controlPanel {
  position: fixed;
  bottom: 10px;
  display: flex;
}

.top {
  display: flex;
}

.bottom {
  display: flex;
}

.memoryMap {

}